.App{
  height: 46rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.infoBox{
  right: 12px;
}

.box{
  min-height: 60vh;
  border-radius: 20px;
  padding: 30px;
  background-color: #ffff;
}

.emptyUserInfo{
  height: 25.7rem;
}