.listContainer {
    height: 80%;
    display: flex;
    align-content: flex-start;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.listContainer::-webkit-scrollbar {
    display: none;
}

.todo {
    height: 15%;
}

