.profileImg {
    height: 3.5rem;
    border-radius: 50%;
}

.userTable {
    width: 100%;
}

.textArea {
    vertical-align: middle;
}

.selectOptions {
    background-color: aliceblue;
    width: 70%;
}

@media only screen   
and (min-width: 950px)  {
    .userTable{
        width: 80%;
    }
}