body {
    background: aliceblue;
}

.addProductSec,
.viewProductSection {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(198, 198, 198);
    border-radius: 5px;
}

/* Hide the spin button in priceInput */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.addProductSec .btn:hover {
    background: black;
}

.viewProductSection .tbody {
    height: 100%;
}

.delBtn,
.editBtn {
    opacity: 0;
}

tr:hover .delBtn {
    opacity: 1;
}

tr:hover .editBtn {
    opacity: 1;
}